@model LaptopShop.Views.viewmodels.Laptopview

@{
    ViewData["Title"] = "addLaptop";
}

<h1>add Laptop</h1>

<h4>Laptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addLaptop" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memory" class="control-label"></label>
                <input asp-for="Memory" class="form-control" />
                <span asp-validation-for="Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processor" class="control-label"></label>
                <input asp-for="Processor" class="form-control" />
                <span asp-validation-for="Processor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage" class="control-label"></label>
                <input asp-for="Storage" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battery" class="control-label"></label>
                <input asp-for="Battery" class="form-control" />
                <span asp-validation-for="Battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Display" class="control-label"></label>
                <input asp-for="Display" class="form-control" />
                <span asp-validation-for="Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Graphics" class="control-label"></label>
                <input asp-for="Graphics" class="form-control" />
                <span asp-validation-for="Graphics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />

                <span asp-validation-for="price" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="LaptopPhoto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="LaptopPhoto" class="form-control" />
                   <label  class="custom-file-lable" for="customFile"> chose file</label>
                </div>
                <span asp-validation-for="LaptopPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

